
/*
在实际开发中，以下的*建议用 全部的标签代替：
	body,ul,ol,div,img,a { padding:0px ;margin:0px ; }

*/
*{
	padding:0px ;
	margin:0px ;
}

body
{
	font-size:13px ;
	font-family:"宋体" ;
	line-height:25px ;
	
}


ul,ol
{
	list-style:none
}

img{
	border: 0px ;
	
}

a{
	text-decoration:none ;
	color: #FFF ;
}
a:hover{
	text-decoration:none ;
	color:gray ;
}

#container
{

	width:960px ;
	margin:0 auto ;
}


#header
{
	
	height:55px ;
}

#header .logo{
	float:left ;
	padding-top:5px ;	
}

#header ul{
	float:right ;
	
	height:29px;
	background:#bbeaf7 ;
	margin-top:35px ;
	
	position:relative ;
}

#header ul li
{
	float:left ;
	padding:0 10px ;
	
}


#header ul .tip
{
	position:absolute ;
	left:-18px ;
	top:-13px ;
}

#menu
{
	clear:both ;
	height:36px ;
	background: url(../imgs/menuBg.jpg) repeat-x ;
	
}

#menu a
{
	display: block ;
	line-height:36px ;
	float:left ;
	padding:0 16px ;
	
	
}

#bookRank
{
	border:2px solid lightgray ;
	width:956px ;
	padding-top:90px;
	position:relative ;
	
}


.title
{
	position:absolute ;
	left:-14px ;
	top:20px ;
	
}
#bookRank a
{
	color:#00000c ;
	font-size:15px ;
	font-weight:bold ;
	
}

.bookLeft{
	float:left ;
	width:560px ;
}
.bookLeft dt
{
	float:left ;
	width:260px;
	position:relative ;
}
.bookLeft dd
{
	float:left ;
	width:280px;
	padding-top:15px ;

}

.first
{
	
	position:absolute ;
	left:10px;
	top:10px;
}


.bookRight{
	float:left ;
	width:380px;
}
.bookRight dl
{
	clear:both ;
	margin-top:10px ;
	
}
 
.bookRight dt
{
	width:100px ;
	position:relative ;
	float:left ;
	
}

.bookRight dt div
{
	position:absolute ;
	left:-5px;
	top:-6px ;
	
}

.bookRight  dd
{
	float:left ;
	width:280px ;
}
 

#footer
{
	clear:both ;
	text-align:center ;
	
}

#footer img
{
	vertical-align:middle ;
	
}

.jianxi
{
	clear:both ;
	
	height:10px ;
	
}
.jianxi2{
	clear:both ;
	height:30px ;
}





